/* Style for the admin list */
.admin-list {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  row-gap: 40px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 5%;
}

/* Style for each admin item */
.admin-info {
  background-color: #f0e0e0;
  border: 1px solid #000000;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  height: 40%;
}

/* Style for the delete button */
.admin-button {
  background-color: #6a4844;
  color: #fff;
  padding: 5px 10px;
  margin-top: 10px;
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.edit-product {
  border-radius: 10px;
  height: 32%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.edit-product input {
  margin-bottom: 10px;
  padding: 5px;
  width: 90%;
}

.edit-product button {
  background-color: #b8dfcd;
  color: #113c2c;
  padding: 5px 10px;
  width: 100px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
}

.admin-input {
  margin-left: 25%;
  text-align: center;
  width: 50%;
  font-size: 20px;
  border-radius: 30px;
  margin-top: 10px;
  align-self: center;
  background-color: #cbf8e3;
}