* {
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
  font-family: 'Lato', sans-serif;
}

/* Style for the admin list */
.admin-list {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  row-gap: 40px;
  width: 90%;
  border: none;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 5%;
}

/* Style for each admin item */
.admin-info {
  border: none;
  background-color: #bde7d2;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  height: 40%;
}

/* Style for the delete button */
.admin-button {
  background-color: #35948e;
  color: #fff;
  padding: 5px 10px;
  margin-top: 10px;
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  &:hover {
    background-color: #24615d;
    transform: scale(1.05);
  }
}

.edit-product {
  border-radius: 10px;
  border: none;
  padding-top: 5%;
  padding-bottom: 10%;
  height: 30%;
  margin-bottom: 50%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.edit-product input {
  margin-bottom: 10px;
  padding: 5px;
  width: 90%;
}

.edit-product button {
  background-color: #b8dfcd;
  color: #264b3f;
  border: none;
  padding: 5px 10px;
  width: 100px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;

  &:hover {
    background-color: #78ab93;
  }
}

.admin-input {
  margin-left: 25%;
  text-align: center;
  width: 50%;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  margin-top: 10px;
  align-self: center;
  background-color: #cbf8e3;
}

.info {
  background-color: #65e0c2;
  margin-top: 1%;
  margin-bottom: 5%;
  border: none;
  
  &:hover {
    background-color: #4da790;
  }
}

/* Style for the notifications container */
.notification-container {
  list-style: none;
  padding-left: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 90%;
  border: none;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15%;
}

/* Style for each notification card */
.notification-card {
  background-color: #e0f0e3;
  border: none;
  padding: 15px;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
}

/* Style for the notification buttons */
.notification-button-yes {
  background-color: #a4d0bb;
  color: #113c2c;
  border: none;
  padding: 5px 10px;
  width: 100px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: -10px;
 
  &:hover {
    background-color: #6fba96;
  }
}

.notification-button-no {
  background-color: #e38e8e;
  color: #113c2c;
  border: none;
  padding: 5px 10px;
  width: 100px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1%;
  margin-bottom: 10px;
  
  &:hover {
    background-color: #c87171;
  }
}

/* Style for the notifications loading and error messages */
.notification-message {
  margin-top: 20px;
  font-size: 16px;
  border: none;
}

@media (max-width: 875px) {
  .info {
    width: 60%;
    margin-bottom: 25%;
  }

  .notification-container {
    margin-top: -20%;
    margin-bottom: 35%;
  }

  .notification-card {
    margin-top: 5%;
  }

}