body{
  background: rgb(171,217,175);
  background: radial-gradient(circle, rgb(176, 208, 178) 0%, rgba(194,242,186,1) 100%);
}

/* The search bar */
.search-bar {
  font-size: 25px;
  margin: 1% 10% -2% 10%;
  border-radius: 10px;
  width: 79.2%;
  background-color: #fffbd4;
}

/* The filter buttons */
.filter-buttons {
  background-color:#ece8c5;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-style: solid;
  border-width: 1px;
  width: 70%;
  margin: 1% auto 0 auto;
  display: flex;
  margin-bottom: 10px; 
}

.filter-button {
  width: 32%;
  background-color: #fffbd4;
  border-width: 1.7px;
}

.filter-button.active {
  background-color:#9f9c83;
  color: #1c0707;
}

/* The loading spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/* The product cards */
.card {
  margin-top: 7%;
  border: 1.2px solid #7c5d5d;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  width: 300px; /* TO FIX: Make it responsively wide */
  height: 90%; 
  display: flex;
  flex-direction: column;

  &:hover {
    transform: scale(1.05);
  }
}

/* The "Add to cart" button */
.card .button-link-home {
  background-color: #35b378; 
  color: #113c2c;
  font-weight: 666;
  text-align: center;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 10px;
  border-width: 1.3px;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  align-self: center; 
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #2e9665;
  }
}

/* Style the product name */
.card .card-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

/* Additional styles for a more colorful grid */
.product-grid-home {
  margin-left: 4%;
  margin-right: 4%;
  background: rgb(238,211,140);
  background: linear-gradient(0deg, rgba(194, 255, 215, 0.8) 0%, rgb(246, 255, 201) 100%);
  /* background: linear-gradient(0deg, rgba(251, 255, 194, 0.8) 0%, rgba(255,236,201,1) 100%); */
  border: 1.2px solid #1c0707;
  border-radius: 30px;
  margin-top: -0.6%;
  margin-bottom: 3%;
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card:nth-child(even) .card-body {
  background-color: #181e25;
}

.card:nth-child(odd) .card-body {
  border-radius: 20px;
  background-color: #fffbd4;
}

.card-body {
  padding: 35px;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Style the product description text */
.card-body p {
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-weight: 500;
  word-wrap: break-word;
}

.card-body .product-describtion {
  font-style: italic;
}

/* The main "Product" header */
h1 {
  font-size: 2.2em;
  color: #113c2c;
  text-align: center;
  position: relative;
}

h1::after {
  content: '';
  display: block;
  height: 2px;
  width: 80%;
  background-color: #225945;
  position: absolute;
  margin-top: 1%;
  left: 50%;
  transform: translateX(-50%); 
}

h3 {
  color: #1c4436;
  margin-bottom: 0%;
  margin-top: 0%;
}

.comment-search {
  font-weight: 555;
  margin: 0.5% auto 0 auto;
}