* {
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
  font-family: 'Lato', sans-serif;
}

body{
  background: #f3f6ea;
  /* background: radial-gradient(circle, rgb(176, 208, 178) 0%, rgba(194,242,186,1) 100%); */
}

/* The search bar */
.search-bar {
  font-size: 1.1em;
  margin: 2% 10% 0 10.45%;
  padding-top: 0.3%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
  width: 78.9%;
  background-color: #9FE2BF;
  text-align: center;
  color: #0e1d3b;
}

.search-bar:focus {
  border: none;
  outline: none;
}

/* The filter buttons */
.filter-buttons {
  background-color: #9FE2BF;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border: none;
  width: 79.2%;
  scale: 1;
  margin: 0 auto 2% auto;
  display: flex; 
}

.filter-button {
  font-size: 1.2em;
  width: 30%;
  color: #0e1d3b;
  background-color: #40B5AD;
  border: none;
  transition: transform 0.3s ease-out;

  &:hover {
    transform: scale(1.05);
  }
}

.filter-button.active {
  background-color:#35948e;
  color: #0e1d3b;
}

/* The loading spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/* The product cards */
.card {
  margin-top: 7%;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  width: 300px; /* TO FIX: Make it responsively wide */
  height: 90%; 
  display: flex;
  flex-direction: column;

  &:hover {
    transform: scale(1.05);
  }
}

/* The "Add to cart" button */
.card .button-link-home {
  background-color: #40B5AD; 
  color: #11273c;
  font-weight: 666;
  text-align: center;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 20px;
  border: none;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  align-self: center; 
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #35948e;
  }
}

/* Style the product name */
.card .card-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

/* Additional styles for a more colorful grid */
.product-grid-home {
  margin-left: 4%;
  margin-right: 4%;
  /* background: rgb(238,211,140); */
  /* background: linear-gradient(0deg, rgba(194, 255, 215, 0.8) 0%, rgb(246, 255, 201) 100%); */
  /* background: linear-gradient(0deg, rgba(251, 255, 194, 0.8) 0%, rgba(255,236,201,1) 100%); */
  border: none;
  border-radius: 30px;
  margin-top: -0.6%;
  margin-bottom: 3%;
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-body {
  padding: 35px;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Style the product description text */
.card-body p {
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-weight: 00;
  word-wrap: break-word;
}

.card-body .product-describtion {
  font-style: italic;
  font-weight: 500;
}

/* The main "Product" header */
h1 {
  font-size: 2.2em;
  color: #113c2c;
  text-align: center;
  position: relative;
}

h1::after {
  content: '';
  display: block;
  height: 2px;
  width: 80%;
  background-color: #225945;
  position: absolute;
  margin-top: 1%;
  left: 50%;
  transform: translateX(-50%); 
}

h3 {
  color: #1c4436;
  margin-bottom: 0%;
  margin-top: 0%;
}

.comment-search {
  font-weight: 555;
  margin: 0 auto 0 auto;
}

#instructionButton {
  cursor: pointer;
  width: 100%;
  border-radius: 0;
  border: none;
  background-color: #89ceaa;
  color: #11323c;
 
  &:hover {
    background-color: #689c81;
    transform: none;
  }
}

.instructionsContainer {
  display: none;
  opacity: 0;
  margin-top: -1%;
  margin-bottom: 1%;
  transform: scaleY(0);
  transform-origin: top;
  position: relative;
}

.filter-buttons::before {
  content: '';
  display: block;
  height: 2px;
  width: 80%;
  background-color: #225945;
  position: absolute;
  margin-top: -4%;
  left: 50%;
  transform: translateX(-50%); 
}

.instructionsContainer.show {
  display: block;
  animation: slideIn 0.7s ease-in-out forwards;
}

.instructionsContainer.hide {
  display: none;
  animation: slideOut 0.7s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
  }
}

@media (max-width: 875px) {

  h1 {
    margin-top: 5%;
  }

  .instructionsContainer {
    margin: 2% 10% 5% 10%;
  }

  #instructionButton {
    display: none;
  }

  .instructionsContainer.show,
  .instructionsContainer.hide {
    display: block;
    animation: none; 
    opacity: 1;
    transform: scaleY(1);
  }

  .filter-buttons::before {
    display: none;
  }

  .search-bar {
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
    padding-top: 2%;
  }

  .filter-buttons {
    width: 100%;
    border-radius: 0;
    padding-bottom: 2%;
  }

  .product-grid-home {
    margin-bottom: 10%;
  }
}